* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(252, 251, 251);
    font-family: 'Baloo Bhai 2', cursive;
    height: 100vh;
    width: 100vw;
}

li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none;
   
}
input {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #737171;
}
.navgnt-bar {
    display: flex;
    justify-content:center;
    gap: 70px;
    font-size: 18px;

}
.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color:black;
    cursor: pointer;
}
button {
    background-color: #519663;
    color: white;
    border: none;
    border-radius: 7px;
    /* padding: 4px 10px; */
    padding: 5px 8px;
}
button:hover {
    background-color: white;
    color: black;
    border: solid #000000 1px;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}
nav ul li:hover {
  text-decoration: underline;
}

ul {
    display: flex;
    justify-content:center;
    gap: 70px;
    font-size: 25px;
   
}
span {
    color: #519663;
    font-weight: bold;
}
h1 span {
    background-color: #e8e1ce;
    font-size: 50px;
    padding: 0px 8px;
    /* margin: px 0px; */
    /* border: 1px solid #000000; */
}
img {
    height: 400px;
    width: 300px;
    border-radius: 50%;
    
}
footer {
    display: flex;
    justify-content: space-around;
    padding-left: 45px;
    height: 30vh;
   
}
.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    padding: 0px 50px;
}
.left-section {
    font-size: 20px;
}
ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
footer p {
    font-size: 25px;
    font-weight: 200;

}

